<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>

    <% if (user) { %>
      <h1>Welcome to Cookbook, <%= user.username %>!</h1>
      <a class="add-recipe" href="/recipes/new">Add New Recipe</a>
      <a class="recipes-index" href="/recipes/">View My Recipes</a>
      <a class="ingredients-index" href="/ingredients/">View My Ingredients</a>
      <% } else { %>
        <h1>Welcome to Cookbook</h1>

        <% } %>
</body>

</html>