<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Ingredients</title>
</head>

<body>
    <div class="nav-bar">
        <%- include('../partials/_navbar.ejs') %>
            <a class="nav-link" href="/">Back Home
            </a>
    </div>
    <div class="ingredient-container">
        <h1>My Ingredients</h1>


        <!-- if there are no ingredients, render "there are no ingredients"
            else, iterate through the ingredients with for each loop-->

        <form action="/ingredients/" method="POST">

            <label for="name">Ingredient:</label>
            <input type="text" name="name" id="name" class="text-box" />

            <button type="submit" class="ingredi-submit">Add</button>
        </form>
    </div>
    <div class="ingredient-index">
        <%if (!ingredients.length> 0){ %>
            <%="Add some ingredients to your collection!"%>

                <%} else { %>


                    <% ingredients.forEach(ingredient=> { %>
                        <li>
                            <%=ingredient.name %>

                                <% }) %>
                        </li>
                        <% } %>


    </div>

</body>

</html>