<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>My Ingredients</h1>


        <!-- if there are no ingredients, render "there are no ingredients"
            else, iterate through the ingredients with for each loop-->
        <form action="/ingredients/" method="POST">
            <label for="name">Ingredient:</label>
            <input type="text" name="name" id="name" />
            <button type="submit">Add</button>
        </form>

        <%if (!ingredients.length> 0){ %>
            <%="Add some ingredients to your collection!"%>

                <%} else { %>
                    <ul>

                        <% ingredients.forEach(ingredient=> { %>
                            <li>
                                <%= ingredient.name %>

                                    <% }) %>
                            </li>
                            <% } %>

                    </ul>
</body>

</html>