<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Update a Recipe</title>
</head>

<body>
    <h1>Update a Recipe</h1>
    <!-- Link to redirect user back to index page -->


    <form action="/recipes/<%=recipes._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=recipes.name%>" />

        <label for="instructions">Instructions:</label>
        <textarea type="text" id="instructions" name="instructions"> <%=recipes.instructions%></textarea>
        <a class="ingredient-index" href="/ingredients/">Add Ingredients</a>



        <button type="submit">Update</button>
    </form>

    <a href="/">Back Home</div>
    </a>
</body>