<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Recipes</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Welcome to My Recipes</h1>

        <%if (!recipes.length>0){ %>
            <%="You do not have any recipes yet!" %>
                <% } else { %>
                    <ul>
                        <% recipes.forEach(recipes=> { %>
                            <li>
                                <a href="/recipes/<%=recipes._id %>">
                                    <%=recipes.name%>
                                </a>
                                <%})%>
                            </li>
                            <%}%>

                    </ul>
                    <a href="/">Back Home
                    </a>

</body>

</html>