<!-- views/recipes/new.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Recipe</title>
</head>

<body>
    <h1>Add a Recipe</h1>
    <!-- Link to redirect user back to index page -->


    <form action="/recipes/" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" id="name" />

        <label for="instructions">Instructions:</label>
        <textarea type="text" id="instructions" name="instructions"></textarea>



        <h3>Add Ingredients</h3>
        <%ingredients.forEach(ingredient=>{%>

            <form id="input-form">
                <div class="ingredient-list">
                    <ul>
                        <li>
                            <input type="checkbox" name="">
                            <label for="">
                                <%=ingredient.name%>
                            </label>
                        </li>
                    </ul>

                    <%});%>
                </div>
            </form>




            <button type="submit">Submit</button>


            <a href="/">Back Home
            </a>
</body>